body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#soundSelect {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}

.button-container {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton {
    background-color: green;
    color: white;
}

#stopButton {
    background-color: red;
    color: white;
}

#volumeSlider {
    margin-top: 20px;
    width: 200px;
}
